<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Control Panel | Datablink Message Crypto</title>
    </head>
    <body>
        <h1>Datablink Message Crypto</h1>
        <form th:action="@{/edit}">
            <input type="submit" value="Edit Message"/>
        </form>
        <form th:action="@{/view}">
        <input type="submit" value="View Stored Message"/>
        </form>
        <form th:action="@{/decrypt}">
        <input type="submit" value="Decrypt Message"/>
        </form>
        <br/>
        <form th:action="@{/logout}">
            <input type="submit" value="Logout"/>
        </form>
    </body>
</html>
