<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
        <link rel="stylesheet"
              href="css/main.css"
              th:href="@{css/main.css}"/>
        <title>Create User | Datablink Message Crypto</title>
    </head>
    <body>
        <div class="mainFrame">
            <div style="clear: both">
                <h3>Datablink Message Crypto</h3>
                <h4>Register</h4>
            </div>
            <form th:action="@{/register}"
                  th:object="${user}"
                  method="post"
                  class="form">
                <div class="alert alert-error" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>
                <div class="alert alert-error" th:if="${param.exists}">
                    <p>User already exists!</p>
                </div>
                <label for="username">Username</label>
                <input type="text"
                       id="username"
                       name="username"
                       autofocus="autofocus"
                       th:field="*{username}"/>
                <br/>
                <label for="password">Password</label>
                <input type="password"
                       id="password"
                       name="password"
                       th:field="*{password}"/>
                <br/>
                <button class="btn waves-effect waves-light green" type="submit" name="register">Create</button>
            </form>
            <br/>
            <form th:action="@{/login}"
                  method="get"
                  class="form">
                <button class="btn waves-effect waves-light blue" type="submit" name="login">Return to Login</button>
            </form>
        </div>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>
