<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>View Message | Datablink Message Crypto</title>
    </head>
    <body>
        <h1>Datablink Message Crypto</h1>
        <h2>View your message</h2>
        <form id="messageForm"
              th:object="${message}"
              method="post">
            <textarea name="message"
                      rows="4"
                      cols="50"
                      th:field="*{encryptedMessage}"
                      readonly="readonly"></textarea>
        </form>
        <br/>
        <form th:action="@{/cpanel}">
            <input type="submit" value="Control Panel"/>
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </body>
</html>
